body {
  width: 100%;
  height: 100%;
}

.btn {
  margin-left: .5em
}

.app {
  background-color: #2d2d2d !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%
}

.main-container {

  display: flex;
  height: 100%;
}

.code-container {
  width: auto;
  overflow-y: auto;
  height: 100%;
}
